// Zonvie Windows Resource File
// Application icon (IDI_ICON1 = 1)
1 ICON "zonvie.ico"
// Text file association icon (IDI_ICON2 = 2)
2 ICON "zombie_txt_icon.ico"
// Application manifest (RT_MANIFEST = 24, CREATEPROCESS_MANIFEST_RESOURCE_ID = 1)
1 24 "zonvie.manifest"
